.cards {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    
    &__card {
        background: var(--card-bg);
        padding: 1rem;
        margin: .5rem 0;
        flex: 1 1 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: .3rem;
        box-sizing: border-box;
        position: relative;
        @include transition-ease;

        &__header {
            margin: 1rem 0;
            min-height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;

            &__profile {
                font-weight: weight(bold);
                margin-left: .5rem; 
            } 
        }

        &__count {       
            &__number {
                margin: .5rem;
                font-size: 3rem;
                font-weight: weight(bold);
                color: var(--text--dk);
            }

            &__unit {
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            &__difference {
                margin: 1.5rem;
                font-weight: weight(bold);
            }    
        }
    }

    .facebook {
        border-top: .3rem solid $social--fb;
    }

    .twitter {
        border-top: .3rem solid $social--twitter;
    }

    .instagram {
        $border: .3rem;
        background: var(--card-bg);
        background-clip: padding-box;
        border-top: solid $border transparent;
        border-radius: .3rem;

        &:before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -$border 1px 1px 1px;
            border-radius: inherit;
            background: $social--instagram;
        }
    }

    .youtube {
        border-top: .3rem solid $social--yt;
    }
}