$bg-top: hsl(232, 19%, 15%); //Top BG Pattern
$bg-main: hsl(230, 17%, 14%); //BG main
$card-bg: hsl(228, 28%, 20%); //Card BG
$text--lt: hsl(228, 12%, 44%); //Text
$text--dk: hsl(228, 34%, 66%); //Text