@import 'resets';
@import 'config';
@import './components';

html {
    overflow-x: hidden;

    #light {
       @include theme-light;
    }

    #dark {
        @include theme-dark;
    }

    body {
        overflow-x: hidden;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        background: var(--bg-main);
        color: var(--text--lt);
        @include transition-ease;
    }
}

a{
    color: var(--text--lt);
    text-decoration: none;
}


