.dark {
    header {
        .navbar {
            &__title {
                border-bottom: 1px solid $dk__desat-blue;

                &__logo {
                    color: $white;
                }
            }

            &__theme {
                .switch {
                    .slider {
                        background: $dk__dk-blue--bg;
                    }
                }
            }
        }
    }
}